.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollableContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px; /* Add padding for better aesthetics */
    box-sizing: border-box;
}
