.container {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.editContactContainer {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

.editContainer {
    display: flex;
    gap: 5px;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 5px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.infoItem {
    margin-bottom: 10px;
}

.label {
    font-weight: bold;
}

.info {
    margin-left: 5px;
}

.inputItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
